{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100
}
